/* Regole generali e di reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.container {
    width: 75%;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header {
    background-color: #0c325a;
    background-image: url(../img/background-header.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 106% 106%;
}
.menu-inline {    
    list-style: none;
}
.menu-inline li {
    display: inline-block;
}

.header-top {
    height: 70px;
    line-height: 70px;
}
.header-top-logo {
    float: left;
    width: 15%;    
}
.header-top-logo img{
    height: 40px;
}
.header-top-nav-left {
    float: left;
    width: 45%;
}
.header-top-nav-right {
    float: left;
    width: 40%;
    text-align: right;
}
.header-top li {
margin: 0px 10px;
}
.header-top li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    background-color: transparent;
    padding: 10px 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: solid;
    border-color: #fff;
    min-width: 100px;

}

.btn-green {
    background-color: rgb(155, 187, 57);
    border-color: rgb(155, 187, 57);
}

/* Header Banner */
.banner {
    position: relative;
    height: 500px;
}
.banner-text {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    
}
.banner-text h1{
    margin-bottom: 30px;
    line-height: 55px;
    font-size: 40px;
    font-weight: 300;
}
/* Main */
.motto {
    background-color: rgb( 217, 217,217);
    height: 120px;
    text-align: center;
    padding: 23px;
}
.motto h3 {
    
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 16px;
    color: rgb(96, 96, 96);

}
.motto h4 {
    font-size: 16px;
    font-weight: 300;
    color: rgb(160, 160, 160);
}

/* Sezione Info */
.three-columns-float {
    float: left;
    width: 33.33%;
    border: 1px solid black;
    height: 500px;
    
}
.two-columns-float {
    float: left;
    width: 50%;
    border: 1px solid black;
    height: 500px;
    
}




